<h1>New price</h1>

<%= error_messages_for :price %>

<% form_for(@price) do |f| %>
  <p>
    <b>Site</b><br />
    <%= f.text_field :site_id %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Price</b><br />
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', prices_path %>
