<p>
  <b>Exclusivity:</b>
  <%=h @sub_rating.exclusivity %>
</p>

<p>
  <b>Updates:</b>
  <%=h @sub_rating.updates %>
</p>

<p>
  <b>Originality:</b>
  <%=h @sub_rating.originality %>
</p>

<p>
  <b>Quality:</b>
  <%=h @sub_rating.quality %>
</p>

<p>
  <b>Speed:</b>
  <%=h @sub_rating.speed %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @sub_rating.quantity %>
</p>

<p>
  <b>Design:</b>
  <%=h @sub_rating.design %>
</p>

<p>
  <b>Navigation ease:</b>
  <%=h @sub_rating.navigation_ease %>
</p>

<p>
  <b>Features:</b>
  <%=h @sub_rating.features %>
</p>

<p>
  <b>Price:</b>
  <%=h @sub_rating.price %>
</p>


<%= link_to 'Edit', edit_sub_rating_path(@sub_rating) %> |
<%= link_to 'Back', sub_ratings_path %>
